nav.page-nav
    a(href='/issues').page-nav-item Archives
    a(href='/search').page-nav-item Search
    a(href='/issues/#{latestIssue}').page-nav-item Latest
    a(href='/unsubscribe').page-nav-item Unsubscribe