doctype html
html
    head
        title Weekly Focus
        meta(name="viewport" content="width=device-width; initial-scale=1.0;")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
        link(rel='stylesheet', href='/stylesheets/bundle.css')

        meta(property="og:url"                content="http://")
        meta(property="og:type"               content="article")
        meta(property="og:title"              content="Weekly Focus Newsletter!")
        meta(property="og:description"        content="Checkout some interesting web news")
        meta(property="og:image"              content="/images/weeklyfocus.jpeg")
    body
        block content
