body {
  padding: 10px 5%;
  font: 16px "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif;
  margin: auto;
  min-height: 100vh;
  border-top: 5px #ff6939 solid;
  border-bottom: 8px #ff6939 solid;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    body {
      padding: 10px; } }

a {
  color: #ff6939;
  text-decoration: none; }

input, textarea {
  border: 1px solid gray; }

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6939;
  border: 1px solid #ff6939; }

input[type='radio']:checked:before {
  outline: none;
  -webkit-appearance: none;
  background: #ff6939; }

button {
  display: inline-block;
  background-color: yellow;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid #ffc826;
  margin-right: 10px;
  margin-top: 5px;
  background-image: linear-gradient(to bottom, #ffd65e, #febf04); }
  @media screen and (max-width: 768px) {
    button {
      width: 100%; } }

.container {
  max-width: 700px;
  margin: auto; }

.web-title {
  font-size: 3.5rem;
  text-align: center;
  margin: 30px 0;
  font-weight: 700;
  text-shadow: 0 0 3px gray;
  color: #ff6939; }
  @media screen and (max-width: 768px) {
    .web-title {
      font-size: 2.5rem; } }

.web-subTitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300; }
  @media screen and (max-width: 768px) {
    .web-subTitle {
      font-size: 1.1rem; } }

.nav {
  text-align: center; }

.nav-item {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .nav-item {
      padding: 0 5px;
      font-size: 1rem; } }
  .nav-item:not(:last-child) {
    border-right: 3px solid gray; }
    @media screen and (max-width: 768px) {
      .nav-item:not(:last-child) {
        border: none; } }

.error-msg, .success-msg {
  background-color: palevioletred;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.8rem;
  animation: msg 1s 1 2s forwards; }

.success-msg {
  background-color: palegreen; }

@keyframes msg {
  0% {
    max-height: 100px; }
  75% {
    max-height: 100px;
    opacity: 1; }
  100% {
    -webkit-transform: scale(0);
    opacity: 0;
    max-height: 0;
    font-size: 0;
    padding: 0;
    margin: 0; } }

.subscribe-bar {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px; }

.subscribe-email__input {
  width: 300px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.1rem;
  color: gray;
  border-color: gray;
  padding: 0 5px;
  letter-spacing: 0.5px;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .subscribe-email__input {
      width: 100%; } }
  .subscribe-email__input:placeholder {
    font-size: 1.2rem;
    color: darkgray; }

.web-example {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center; }

.web-intro {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1rem;
  font-weight: 300; }

.web-review {
  font-size: 1.8rem;
  text-align: center; }

.web-review__title {
  margin-bottom: 20px; }

.reviewer-list {
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviewer-list {
      display: block; } }

.reviewer {
  display: flex;
  padding-right: 30px;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .reviewer {
      margin: 10px 0; } }

.reviewer__img {
  width: 50px;
  height: 50px;
  margin-right: 10px; }

.reviewer__review {
  flex: 1;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 400; }

.reviewer__name {
  font-size: 1rem;
  margin-top: 5px; }

.reviewer__title {
  color: gray;
  font-size: 0.9rem; }

.page-header {
  margin: 10px 0;
  display: flex; }
  @media screen and (max-width: 768px) {
    .page-header {
      display: block; } }

.page-title {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 0 1px gray;
  color: #ff6939;
  text-decoration: none; }

.page-nav {
  align-self: center;
  margin-top: 15px;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .page-nav {
      display: flex;
      margin-top: 5px;
      justify-content: space-around; } }

.page-nav-item {
  padding: 0 20px;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .page-nav-item {
      padding: 0 10px 0 0;
      font-size: 1rem; } }
  .page-nav-item:not(:last-child) {
    border-right: 3px solid gray; }
    @media screen and (max-width: 768px) {
      .page-nav-item:not(:last-child) {
        border: none; } }

.search-bar {
  float: right;
  padding-top: 10px; }
  @media screen and (max-width: 768px) {
    .search-bar {
      display: none; } }
  .search-bar_full {
    width: 66%;
    margin: 10px 10px 10px 0;
    padding: 5px; }
    @media screen and (max-width: 768px) {
      .search-bar_full {
        width: 100%;
        display: block;
        box-sizing: border-box; } }

.search-btn {
  margin: 10px 0; }

.search-input {
  display: inline-block;
  height: 24px;
  width: 200px;
  margin-right: 10px; }

.page-route-title {
  font-size: 2.2rem;
  font-weight: 300;
  color: #ff6939;
  margin-top: 20px; }

.page-route-subtitle {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin: 20px 0; }

.content-block__title {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 25px 0 5px 0; }

.content-block__subtitle {
  font-size: 1rem;
  margin: 20px 0; }

.issue-list {
  margin-top: 15px;
  column-count: 2;
  column-gap: 7px; }
  @media screen and (max-width: 768px) {
    .issue-list {
      column-count: 1;
      column-gap: 0; } }

.issue-list__issue {
  display: list-item;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  list-style: none; }

.issue-list__issue-intro {
  padding-left: 20px;
  color: gray;
  line-height: 1rem;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 6px 0;
  position: relative; }
  .issue-list__issue-intro:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: gray;
    margin-right: 5px; }

.link_decoration {
  text-decoration: underline; }

.load-more-btn {
  text-align: center;
  margin-top: 10px; }

.issue-section {
  box-shadow: inset 0 0 30px #eee;
  padding: 10px; }

.issue-subscribe-bar {
  padding: 8px;
  background-color: #f4f4f4;
  text-align: center;
  margin-top: 20px; }

.issue-subscribe-email__input {
  width: 64%;
  margin-right: 12px;
  font-size: 1.1rem;
  padding: 7px 4px;
  min-width: 20em; }

.subscribe-email__btn {
  padding: 7px 14px; }

.issue-subscribe-intro {
  margin-top: 4px;
  font-size: 0.9rem; }

.publication-list-table {
  border-spacing: 10px;
  display: table;
  border-collapse: separate; }

.publication__name {
  width: 20%;
  text-align: right;
  white-space: nowrap; }

.publication__intro {
  padding-left: 1rem; }

.result-list {
  margin: 10px 0; }

.result__title {
  font-size: 1.4rem;
  font-weight: 700; }

.result__intro {
  margin: 5px 0; }

.result__issue {
  font-size: 0.8rem;
  font-weight: 400; }

.result__issue-link {
  color: darkgray;
  text-decoration: none;
  border-bottom: 1px dotted #bbb; }

.input__radio-title {
  margin-bottom: 10px;
  display: inline-block; }

.input__radio {
  margin-right: 40px;
  margin-left: 10px; }

#article-form {
  padding: 10px;
  border: 2px solid #ff6939;
  border-radius: 5px; }

.article-form__label {
  display: block;
  font-size: 1.2rem;
  color: #ff6939; }

.article-form__input {
  display: block;
  width: 100%;
  min-height: 30px;
  resize: none;
  padding: 0 5px;
  font-size: 1rem;
  margin: 10px 0;
  box-sizing: border-box; }

.article-item {
  padding: 5px;
  margin: 5px 0; }

.article-item__id {
  display: none; }

.article-item__title {
  font-size: 1.5rem;
  color: #ff6939;
  font-weight: 500; }

.article-item__author {
  font-size: 0.9rem;
  color: gray; }

.article-item__intro {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 4px 0; }

.week-day-input {
  display: inline-block; }

/*# sourceMappingURL=bundle.css.map */